@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --white: #FFF;
    --gray-light: #E9EBED;
    --blue: #00A1F1;

    font-size: 16px;

    margin: 0;
    font-family: Arial, sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}